.main-header {
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
}

.nav-link {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    outline: none;

}

.nav-link:hover {
    cursor: pointer;
    color: rgb(197, 194, 194);
    outline: none;
}